    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
      background-color: #7ca7d6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }


    .setup{
        display: flex;
        flex-direction: column;
    }
    .hidden {
      display: none;
    }

    #letterPairs {
      font-size: 60px;
      margin: 20px;
      font-weight: bold;
      color: #052aff;
    }

    input, button, textarea {
      margin: 10px;
      padding: 10px;
      font-size: 16px;
    }

    textarea {
      width: 80%;
      height: 150px;
    }

    #timer {
      font-size: 22px;
      color: #222;
      margin-top: 10px;
    }

    #timer.low-time {
      color: red;
      font-weight: bold;
    }


    /*boton*/
.button {
  display: inline-block;
  padding: 12px 28px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 4px 0px #0072ff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #0072ff;
}

.button:active {
  transform: translateY(0px);
  box-shadow: none;
  background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
}



